<ion-header-bar class="bar-stable" align-title="center">
    <h1 class="title">ToDo</h1>
</ion-header-bar>
<ion-view view-title="Detail">
    <ion-content>
    	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Testo</span>
		    <input
		    	ng-model="todo.text" 
		    	type="text" 
		    	placeholder="Testo">
		  </label>
		   <label class="item item-input item-stacked-label">
		    <span class="input-label">Note</span>
		    <textarea
		    	ng-model="todo.info"
		    	rows="10"
		    	placeholder="Note"
		    ></textarea>
		  </label>
		</div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-positive" align-title="center">
    <h1 class="title" ng-click="save()">Salva</h1>
</ion-footer-bar>
