<ion-header-bar class="bar-stable" align-title="center">
    <h1 class="title">ToDo List</h1>
</ion-header-bar>
<ion-view view-title="List">
    <ion-content>
        <ion-item 
        	ng-click="showConfirm($index,todo)"
        	class="item-button-right" 
        	collection-repeat="todo in todos">
            {{todo.text}}
        </ion-item>
        <ion-item ng-hide="todos.length">
            <strong>Evviva, non hai nulla da fare!</strong>
            <br/>
            <small>Clicca su aggiungi per inserire dei ToDo</small>
        </ion-item>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-positive" align-title="center">
    <a ui-sref="detail"><h1 class="title">Aggiungi</h1></a>
</ion-footer-bar>
